      <%= form_with model: @book_comment,local: true do |f| %>
       <div class="field">
         <div class="form-group row" id="star">
            <%= f.label :star,'評価 ', class:'col-md-3 col-form-label' %>
            <%= f.hidden_field :star, id: :review_star %>
         </div>
         <!-- 評価javascript -->
         <script>
         $('#star').raty({
           size     : 36,
           starOff:  '<%= asset_path('star-off.png') %>',
           starOn : '<%= asset_path('star-on.png') %>',

           scoreName: 'comment[star]',
           half: false,
           
         });
         </script>  
      <% end %>